{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "firefox": "60"
                }
            }
        ],
        "@babel/preset-react"
    ]
}
